# Ignore everything except what's needed for the mobile app

# Ignore parent folders

../\*

# Ignore backend and frontend folders if they are inside mobile (just in case)

backend/
frontend/

# Ignore build artifacts

_.log
_.env
_.env._
\*.pem
.DS_Store
.next/
out/
coverage/
build/
node_modules/
.expo/
.vscode/
.idea/

# Typical .easignore file
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/test
node_modules/**/tests
node_modules/**/examples
node_modules/**/docs
node_modules/**/demo
node_modules/**/android/build
node_modules/**/ios/build

# Development files
*.log
.env
.env.local
.env.development
.env.test

# Misc
.DS_Store
*.orig
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug files
*.map
*.js.map
*.hprof
*.debug.json
metro.log
index.android.bundle
index.ios.bundle
